.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
a{
    color: inherit;
    text-decoration: none;
}
.topNavBar{
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    transition: all 1s;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}
.topNavBar>.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar .logo{
    float: left;
}
.topNavBar nav.menu{
    float: right;
    padding: 4px 0;
}
.topNavBar nav.menu>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar nav.menu>ul>li>a{
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #e06567;
    display: inline-block;
    animation: borderSlide 0.5s;
}
@keyframes borderSlide{
    0%{
        width: 0px
    }
    100%{
        width:100%
    }
}
.topNavBar .logo{
    font-family:Arial Black;
    padding: 3px 0 4px 0;
}
.topNavBar .logo .rs{
    font-size: 24px;
    margin-right: 4px;
    color: #e66b6a;
}
.topNavBar .logo .card{
    font-size: 24px;
    color: #9a9da2;
}
.topNavBar nav.menu ul.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
}
.topNavBar nav.menu ul.submenu.active{
    display: block;
}
.banner{
    height: 515px;
    background-image: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
main .usercard{
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;/*!!!*/
    /*position: relative;
    top: -345px;*/
    margin-top: -345px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.usercard .picAndText{
    padding:50px;/**/ 
}
.usercard .pic{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 470px;/*因为float元素会收缩*/
}
.usercard .welcome{
    font-size: ;
    background-color: #e6686a;
    color: #fff;
    display: inline-block;
    line-height: 22px;
    padding: 4px 16px;
    margin-bottom: 10px;
    position: relative;
}
.welcome .triangle{
    border: 10px solid transparent;
    border-left: 10px solid #e6686a;
    border-top-width:0;
    position: absolute;
    top: 100%;
    left: 10px;
}
.usercard .text h1{
    margin-top: 18px;
}
.text hr{
    height: 0;
    /*border: 1px solid #efefef;*/
    border: none;
    border-top: 1px solid #dedede;
    margin: 20px 0;
}
.text dl dt,
.text dl dd{
    float: left;
    padding: 5px 0;
}
.text dl dt{
    width: 30%;
    font-weight: bold;
}
.text dl dd{
    width: 70%;
    color: #9da0a7;
}
.usercard footer.media{
    background-color:#e66b6a;
    text-align: center;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.media a{
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
}
.media a:hover{
    background-color: #CF5D5F
}
.media svg{
    width: 30px;
    height: 30px;
    fill: white;
    margin-top: 4px;
}
body>main .button-wrapper a.button{
    font-size: 14px;
    color: #3d4451;
    background: #efefef;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border-radius: 2%;
    font-weight: bold;
    margin: 32px 0;
    border:1px solid #cdcfd1;
    transition: box-shadow 0.2s;
}
body>main .button-wrapper a.button:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
}
body>main .button-wrapper{
    text-align: center;
}
body>main .selfIntroduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
}
section.skill,section.profolio,section.message{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skill h2,.profolio h2,.message h2{
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    color: #3d4451;
    font-size: 34px;
}
section.skill ol{
    max-width: 940px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;/**/
}
.skill .progressBar{
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}
@keyframes slideRight{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.skill .progressBar .progress{
    background: #e66b6a;
    width: 50%;
    height: 100%;/**/
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
    /*animation: slideRight 1s;*/
    
}
.skill.offset .progress{
    transform: translateX(-100%);
}
.skill h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
.skill ol li{
    float: left;
    width: 50%;/**/
    box-sizing:border-box;
}
.skill ol li:nth-child(even){
    float: right;
}
.skill ol li:nth-child(odd){
    padding-right: 40px;
}
section.message ol{
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
}
section.message ol li{
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
section.message form{
    max-width: 600px;
    margin: 50px auto;
}
section.profolio{
    text-align: center;
}
.profolio nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}
.profolio ol{
    display:inline-block;/*这样文本居中才会起作用*/
    vertical-align: top;
}
.profolio ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
.profolio ol li:first-child{
    margin-left: 0;
}
.profolio .bar{
    border-radius: 2px;
    height: 5px;
    background: white;
    margin-top:5px ;
    margin-bottom: 28px;
}
.profolio .bar-inner{
    border-radius: 2px;
    height: 100%;
    background: #CF5D5F;
    transition: all 0.3s;
}
.profolio .bar-inner.state-1{
    margin-left: 0;
    width: 32px;
}
.profolio .bar-inner.state-2{
    margin-left: 72px;
    width: 32px;
}
.profolio .bar-inner.state-3{
    margin-left: 144px;
    width: 32px;
}
.swiper-container {
    width: 668px;
    height: 501px;
}  
.swiper-button-next, .swiper-button-prev{
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    outline: none;
}
[data-x].offset{
    transform: translateY(60px)
}
[data-x]{
    transform: translateY(0);
    transition: all 1s;
}
